#!/bin/bash -e

. /usr/share/debconf/confmodule
db_version 2.0
db_capb backup
db_title ModMono Server

# XSP1
if [ -d /etc/mono-server/conf.d ] && [ "`ls /etc/mono-server/conf.d/ | grep -v ^asp.net-examples$ | grep -v ^monodoc-http$ | wc -l`" -gt 0 ]; then
	set +e
	db_fget monoserver4/monoserver1_upgrade_warning seen
	seenflag=$?
	set -e

	case $seenflag in
	0)
		if [ "$RET" = false ]; then
			db_input high monoserver4/monoserver1_upgrade_warning || true
		fi
		;;
	10)
		db_input high monoserver4/monoserver1_upgrade_warning || true
		;;
	*)
		echo "db_fget exited with $seenflag" >&2
                exit $err
		;;
	esac
	db_fset monoserver4/monoserver1_upgrade_warning seen true || true
	db_go || true
fi

# XSP2
if [ -d /etc/mono-server2/conf.d ] && [ "`ls /etc/mono-server2/conf.d/ | grep -v ^asp.net-examples$ | grep -v ^monodoc-http$ | wc -l`" -gt 0 ]; then
	set +e
	db_fget monoserver4/monoserver2_upgrade_warning seen
	seenflag=$?
	set -e

	case $seenflag in
	0)
		if [ "$RET" = false ]; then
			db_input high monoserver4/monoserver2_upgrade_warning || true
		fi
		;;
	10)
		db_input high monoserver4/monoserver2_upgrade_warning || true
		;;
	*)
		echo "db_fget exited with $seenflag" >&2
                exit $err
		;;
	esac
	db_fset monoserver4/monoserver2_upgrade_warning seen true || true
	db_go || true
fi

# get existing values
modmono_default="/etc/default/mono-apache-server4"
if [ -e $modmono_default ]; then
	. $modmono_default || true
	db_set monoserver4/monoserver4_restartapache "$start_apache"
fi

STATE=1
while [ "$STATE"  != 0 -a "$STATE" != 2 ]; do
    case "$STATE" in
	1) 
	    db_input medium monoserver4/monoserver4_restartapache || true
	    if db_go; then
		db_get monoserver4/monoserver4_restartapache || true
		if [ "$RET" = "true" ]; then
		    STATE=2
		else
		    db_set  monoserver4/monoserver4_restartapache false || true
		    STATE=2
		fi
	    else
		STATE=0
	    fi
	    ;;
	esac
done

if [ "$STATE" = 0 ]; then
    exit 1
fi
