#!/bin/bash -e

# Initialization
. /usr/share/debconf/confmodule
db_version 2.0
db_capb backup
db_title XSP2 WebServer

# XSP1
if [ -d /etc/xsp/conf.d ] && [ "`ls /etc/xsp/conf.d/ | grep -v ^asp.net-examples$ | grep -v ^monodoc-http$ | wc -l`" -gt 0 ]; then
	set +e
	db_fget xsp4/xsp1_upgrade_warning seen
	seenflag=$?
	set -e

	case $seenflag in
	0)
		if [ "$RET" = false ]; then
			db_input high xsp2/xsp1_upgrade_warning || true
		fi
		;;
	10)
		db_input high xsp2/xsp1_upgrade_warning || true
		;;
	*)
		echo "db_fget exited with $seenflag" >&2
                exit $err
		;;
	esac
	db_fset xsp2/xsp1_upgrade_warning seen true || true
	db_go || true
fi

# get existing values
xsp2_default="/etc/default/mono-xsp2"
if [ -e $xsp2_default ]; then
	. $xsp2_default || true
	db_set xsp2/xsp2_autostart "$start_boot"
	db_set xsp2/xsp2_bind      "$address"
	db_set xsp2/xsp2_port      "$port"
fi

# Autostart
STATE=1
while [ "$STATE"  != 0 -a "$STATE" != 2 ]; do
    case "$STATE" in
	1) 
	    db_input medium xsp2/xsp2_autostart || true
	    if db_go; then
		db_get xsp2/xsp2_autostart || true
		if [ "$RET" = "true" ]; then
		    STATE=2
		else
		    db_set  xsp2/xsp2_autostart false || true
		    STATE=2
		fi
	    else
		STATE=0
	    fi
	    ;;
	esac
done

if [ "$STATE" = 0 ]; then
    exit 1
fi

# Bind
STATE=1
while [ "$STATE"  != 0 -a "$STATE" != 2 ]; do
    case "$STATE" in
	1) 
	    db_input medium xsp2/xsp2_bind || true
	    if db_go; then
		db_get xsp2/xsp2_bind || true
		STATE=2
	    else
		STATE=0
	    fi
	    ;;
	esac
done

if [ "$STATE" = 0 ]; then
    exit 1
fi

# Port
STATE=1
while [ "$STATE"  != 0 -a "$STATE" != 2 ]; do
    case "$STATE" in
	1) 
	    db_input medium xsp2/xsp2_port || true
	    if db_go; then
		db_get xsp2/xsp2_port || true
		STATE=2
	    else
		STATE=0
	    fi
	    ;;
	esac
done

if [ "$STATE" = 0 ]; then
    exit 1
fi
